@media screen and (max-width:479px){
  .lesson{
    flex-direction: column;
  }    
}
body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.top-wrapper{
  background-image:url(https://prog-8.com/images/html/advanced/top.png);
  background-size:cover;
  padding:180px 0 100px 0;
  color:white;
  text-align:center;
}
.top-wrapper h1{
  letter-spacing: 5px;
  opacity:0.8;
  font-size:45px;
  
}
.top-wrapper p{
  opacity:0.8;
  margin:15px 0;
}
.container{
  max-width:1170px;
  width:100%;
  
  margin:0 auto;
}
.btn{
  padding:8px 24px;
  border-radius: 5px;
  display:inline-block;
  color:white;
}
.signup{
  background-color:#239b76;
  margin-top:10px;
}
.facebook{
  background-color:#3b5998;
  margin-right:5px;
}
.twitter{
  background-color:#55acee;
}
header{
  background-color:rgba(34, 49, 52, 0.9);
  height:65px;
  width:100%;
  position:fixed;
  z-index:10;
}
.header-left{
  float:left;
}
.logo{
  width:124px;
  margin-top:20px;
}
.header-right{
  float:right;
}
.header-right a{
  display:block;
  line-height:65px;
  color:white;
  padding:0 24px;
  background-color:rgba(255,255,255,0.5)
}
.lesson-wrapper{
  height:500px;
  padding-bottom:30px;
  text-align:center;
  padding-top:50px;
  background-color: #f7f7f7;
}
.lesson-wrapper h2{
  font-weight:normal;
  
}
.lesson{
  float:left;
  width:25%;
  margin-top:20px;
}
.text-contents{
  display:inline-block;
  width:80%;
  font-size:12px;
}
.icon{
  position:relative;
}
.icon p{
  position:absolute;
  top:35%;
  width:100%;
  color:white;
}
.messege{
  background-color:#5dca88;
  box-shadow:0 7px #1a7940;
}
.msg-wrapper{
  text-align:center;
  padding:50px 0 100px 0;
  border-bottom:solid;
}
